<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.southdipper.teamwork.mapper.BookMapper">
    <sql id="commonSelect">
        select second_hand.book.id,
               name,
               type_id,
               price,
               isbn,
               img,
               detail,
               release_time,
               seller_id,
               purchased,
               username as seller_name
        from second_hand.book,second_hand.user
    </sql>
    <sql id="requestSelect">
        <where>
            seller_id = second_hand.user.id
            <if test="content != null">
                and name like concat('%',#{content},'%')
            </if>
            <if test="priceStart != null">
                and price >= #{priceStart}
            </if>
            <if test="priceEnd != null">
                and #{priceEnd} >= price
            </if>
            <if test="typeId != null">
                <if test="typeId != 0">
                    and type_id = #{typeId}
                </if>
            </if>
        </where>
    </sql>
    <insert id="add">
        Insert Into second_hand.book(name, type_id, price, isbn, img, detail, release_time, seller_id, purchased)
        VALUES (#{name}, #{typeId}, #{price}, #{isbn}, #{img}, #{detail}, now(), #{sellerId}, 0)
    </insert>
    <select id="search" resultType="book">
        <include refid="commonSelect"/>
        <include refid="requestSelect"/>
        order by
        <if test="orderRequest == 0">
            release_time asc
        </if>
        <if test="orderRequest == 1">
            release_time desc
        </if>
        <if test="orderRequest == 2">
            price asc
        </if>
        <if test="orderRequest == 3">
            price desc
        </if>
        limit #{pageNumber},#{bookNumber}
    </select>
    <select id="searchFromId" resultType="book">
        <include refid="commonSelect"/>
        where seller_id = #{sellerId}
    </select>
    <delete id="delete">
        delete
        from second_hand.book
        where id = #{id}
    </delete>
    <select id="getNumber" resultType="Integer">
        select count(*) from second_hand.book,second_hand.user
        <include refid="requestSelect"/>
    </select>
    <select id="getBook" resultType="book">
        <include refid="commonSelect"/>
        where second_hand.book.id = #{bookId}
    </select>
</mapper>