<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.southdipper.teamwork.mapper.ConnectionMapper">
    <select id="getConnection" resultType="Connection">
        SELECT id, user1_id, user2_id, user1_online, user2_online, user1_unread, user2_unread, latest_content_type, latest_content, create_time
        FROM second_hand.connection
        WHERE (user1_id = #{user1Id} AND user2_id = #{user2Id})
           OR (user1_id = #{user2Id} AND user2_id = #{user1Id})
    </select>
    <insert id="createConnection" parameterType="Connection">
        INSERT INTO
            second_hand.connection(user1_id,
                                   user2_id,
                                   user1_online,
                                   user2_online,
                                   user1_unread,
                                   user2_unread,
                                   latest_content_type,
                                   latest_content,
                                   create_time)
        VALUES
            (#{user1Id},
             #{user2Id},
             #{user1Online},
             #{user2Online},
             #{user1Unread},
             #{user2Unread},
             #{latestContentType},
             #{latestContent},
             NOW())
    </insert>
    <update id="updateConnection" parameterType="Connection">
        UPDATE second_hand.connection SET
            user1_unread = #{user1Unread},
            user2_unread = #{user2Unread},
            latest_content_type = #{latestContentType},
            latest_content = #{latestContent}
        WHERE id = #{id}
    </update>
    <update id="setUserOnline" parameterType="Connection">
        UPDATE second_hand.connection
        SET user1_online = #{user1Online}, user2_online = #{user2Online}
        WHERE id = #{id}
    </update>
    <resultMap id="connectionInfoMap1" type="ConnectionResponse">
        <id column="id" property="connectionId"/>
        <result column="targetname" property="targetName"/>
        <result column="targetimg" property="targetImg"/>
        <result column="user2_online" property="isChatTargetOnline"/>
        <result column="user1_unread" property="unreadMessageCount"/>
        <result column="latest_content_type" property="latestUnreadMessageType"/>
        <result column="latest_content" property="latestUnreadMessage"/>
    </resultMap>
    <select id="getConnectionInfo1" resultMap="connectionInfoMap1">
        SELECT
                u.id as id,
                u.username as targetname,
                u.user_img as targetimg,
                connect.user2_online as user2_online,
                connect.user1_unread as user1_unread,
                connect.latest_content_type as latest_content_type,
                connect.latest_content as latest_content
        FROM second_hand.connection as connect, second_hand.user as u
        WHERE (connect.user1_id = u.id  AND u.id = #{userId})
    </select>
    <resultMap id="connectionInfoMap2" type="ConnectionResponse">
        <id column="id" property="connectionId"/>
        <result column="targetname" property="targetName"/>
        <result column="targetimg" property="targetImg"/>
        <result column="user1_online" property="isChatTargetOnline"/>
        <result column="user2_unread" property="unreadMessageCount"/>
        <result column="latest_content_type" property="latestUnreadMessageType"/>
        <result column="latest_content" property="latestUnreadMessage"/>
    </resultMap>
    <select id="getConnectionInfo2" resultMap="connectionInfoMap2">
        SELECT
            u.id as id,
            u.username as targetname,
            u.user_img as targetimg,
            connect.user1_online as user1_online,
            connect.user2_unread as user2_unread,
            connect.latest_content_type as latest_content_type,
            connect.latest_content as latest_content
        FROM second_hand.connection as connect, second_hand.user as u
        WHERE (connect.user2_id = u.id  AND u.id = #{userId})
    </select>
</mapper>
